<div style="font-family: 'Jua', sans-serif; ">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="height: 94%;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 94vh;">
      <div class="carousel-item active">
        <img src="/src/img/carousel1.png" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block" style="height: 30vh;">
          <h5>팀원들과의 소통과 협력!</h5>
          <p>공식 디스코드 서버를 통해 팀원들과 소통하고 협력합니다.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/src/img/carousel2.png" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block" style="height: 30vh;"> 
          <h5>뭐든지 만들 수 있는 플랫폼!</h5>
          <p>아이디어가 생각났다고요? 바로 팀원들에게 말해보세요! 개발을 도와 드립니다!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/src/img/carousel3.png" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block" style="height: 30vh;">
          <h5 style="color: black">Seoa 에 관심있으신가요?</h5>
          <p style="color: black">지금 <button type="button" class="btn btn-primary" onclick="submit()">지원하기</button> 를 눌러 지원하세요!</p>
        </div>
      </div>       
      </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">이전</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">다음</span>
    </a>
  </div>
</div>  