<nav class="navbar navbar-expand-sm navbar-light" style="font-family: 'Noto Sans KR', sans-serif; box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55)">
<a class="navbar-brand" href="/"><img height="30px" src="/src/img/logo.png"> Careers</a>
<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
  aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavId" style="align-items: unset;">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://discord.gg/BHS5pw3">Discord</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Recruitments</a>
      <div class="dropdown-menu" aria-labelledby="dropdownId">
        <a class="dropdown-item" href="/job/illust">Illustrator</a>
        <a class="dropdown-item" href="/job/web_design">Web Designer</a>
        <a class="dropdown-item" href="/job/web_dev">Web Developer</a>
        <a class="dropdown-item" href="/job/unity">Unity Developer</a>
        <a class="dropdown-item" href="/job/design">Desinger</a>
      </div>
    </li>
  </ul>
  <div class="my-2 my-lg-0">
    <button type="button" class="btn btn-light">지원하기</button>
  </div>
</div>
</nav>