<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Seoa Careers</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR|Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    
    <%- layout.metas %>
  </head>
  
  <body>
  <%- layout.navbar %>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"></script>
  <script src="/src/js/main.js"></script>
  </body>
</html>